* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}
.list{
  margin: 20px;
}
#input-item{
  padding: 10px;
  width: 95%;
  margin: 10px;
}

#map{
  width: 90%;
  height: 50vh;
}
